.feature-item {
    
    position: relative;
    padding-bottom: 1.5rem;
    font-weight: 300;

    @mixin atSmall {
        padding-left: 94px;
        padding-bottom: 2.5rem;
    }

    &__icon {
        float: left;
        margin-right: .8rem;
        
        @mixin atSmall {
            position: absolute;
            left: 0;
            margin-right: 0;
        }
    }

    &__title {
        font-size: 1.875rem;
        font-weight: 300;
        margin-bottom: .8rem;
    }
}